.all_gall{
    background-image: url(./images/gallerybg.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.expmore{
    bottom: 0%;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;

}
.collage{
    background-color: rgba(255, 255, 255, 0.23);
    min-height: 100vh;
}
.gall_img{
    height: 70vh;
    object-fit: cover;
    width: 100%;
}
.box {
    grid-template-rows: repeat(4,60vh);
}
.box div{
    /* border: solid blanchedalmond 2px; */
    box-shadow: 5px 10px 5px #000000a9;
}
.main_gall_img{
    height: 100%;
    width: 100%;
}
@media only screen and (max-width: 1000px) {
    .box {
        padding: 10%;
        grid-template-rows: repeat(7,45vh);
    }
}