.data{
    background-color: #00000070;
}
.warning{
    padding: 10px;
    font-size: larger;
    text-align: center;
    width: 100%;
    color: rgb(250, 73, 73);
}
.sb_btn{
    background-color: #7f848aae;
}
.sb_btn:hover{
    background-color: #212929;
}
.form_box{
    background-image: linear-gradient(rgba(0, 0, 0, 0.742), #000000d0), url(./images/formbg.jpg);
    /* background-color: #183752; */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5%;
}
.form{
    /* margin-top: 50px; */
    background-color: #979ea555;
    min-width: 80%;
    padding: 1%;
}
.form_input{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.form_input input{
    margin: 5px;
    height: 40px;
}
.form_input select{
    margin: 5px;
    height: 40px;  
}
.name{
    grid-column: span 2;
}
.add{
    grid-column: span 2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@media only screen and (max-width:900px){
    .form_box{
        height: 100vh;
        padding: 20px;
        background-color: transparent;
    }
    .form{
        min-height: 90%;
        padding: 20px ;
        margin-top: 50px;
        border-radius: 10px;
        justify-content: space-evenly;
    }
    .form_input{
        grid-template-columns: repeat(1,1fr);
    }
    .name{
        grid-column: span 1;
    }
    .form_input input{
        margin: 1%;
        height: 30px;
    }
    .form_input select{
        margin: 1%;
        height: 30px;
    }
    .sb_btn{
        margin: 1px;
    }
}