.all_subs{
    background-color: #212929f3;
    overflow: hidden;
    min-height: 100vh;
}
.dbell{
    overflow: hidden;
    position: absolute;
    z-index: -1;
    top: 5%;
    left: -12%;
    /* transform: rotate(90deg); */
}
.dbell img{
    height: 100vh;
    width: 70vh;
}
.subs{
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    padding: 80px;
    padding-top: 0px;
    overflow: hidden;
}
.slogan_mem{
    padding: 80px;
    padding-top: 150px;
    padding-bottom: 50px ;
    text-align: center;
    font-size: larger;
    z-index: 2;
}
.card{
    min-height: 50vh;
    max-height: 50vh;
    background-color: #ffffff;
}
.card_content{
    background-color: #2e4f4f;
    background-image: linear-gradient(#00000025, #65656569), url(./images/5.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,1fr);
}

.beginner{
    background-image: linear-gradient(#00000075, #65656569), url(./images/begin.jpg);
}
.intermediate{
    background-image: linear-gradient(#00000075, #65656569), url(./images/inter.jpg);
}
.advanced{
    background-image: linear-gradient(#00000075, #65656569), url(./images/advan.jpg);
}
.pro{
    background-image: linear-gradient(#0000004c, #65656569), url(./images/pro.jpg);
}
.card_content h2{
    font-size: xx-large;
    margin-top: 20px;
}
.card_info{
    grid-row: 3/4;
    background-color: #183752;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    bottom: 0%;
}
button{
    background-color: #7f848a5e;
    justify-self: center;
}

@media only screen and (max-width:1000px){
    .subs{
        grid-template-columns: repeat(1,1fr);
        padding: 50px;
        grid-gap: 30px;
        padding-top: 0px;
    }
    .card{
        min-height: 35vh;
        max-height: 35vh;
    }
    .slogan_mem{
        padding-top: 100px;
    }
    .dbell{
        position: fixed;
        width: 150%;
        left: -45%;
        top:8%;
    }
    .dbell img{
        width: 150%;
    }
}